* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.log-reg-section {
    flex: 1;
    padding: 36px 40px;
    max-width: 470px;
    margin: 0 auto;
    border: 1px solid #ddd;
}

.log-reg-section form, p {
    width: 100%;
}

.slider {
    display: flex;
    overflow: hidden;
    width: 100%;
    /* border: 1px solid #ccc; */
    border: none;
    border-radius: 6px;
    margin: 20px 0;
    position: relative;
    height: 50vh;
}

.slide {
    padding: 24px;
    display: none;
    width: 100%;
    height: 100%;
    background-color: #f4f4f4;
}

.slide.active {
    display: block;
}

.controls button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
}

/* video {
    position: absolute;
    top: 50px;
    right: 100px;
    width: 200px;
    height: 200px;
} */

ul {
    list-style: none;
}