{% extends 'base.html' %}
{% load static %}
{% block title %} Đăng ký tài khoản {% endblock title %}

{% block content %}

<div class="wrapper-log-reg d-flex align-items-center justify-content-center" style="height: 100vh;">
    <div class="log-reg-section d-flex align-items-center justify-content-center flex-column" style="gap: 24px;border-radius: 6px;">
        <h2>Đăng ký tài khoản</h2>

        <form action="{% url 'register' %}" method="POST">
            {% csrf_token %}
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Địa chỉ email</label>
              <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword2" class="form-label">Tên đăng nhập</label>
                <input type="text" name="username" class="form-control" id="exampleInputPassword2">
              </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" name="password" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-primary">Đăng ký</button>
        </form>
    
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    
        <p>Đã có tài khoản? <a class="text-primary" href="{% url 'login' %}">Đăng nhập ngay</a></p>
    </div>
</div>

<style>
    body {
      background-color: #f8f8f8;
    }
</style>

{% endblock content %}